h2 {
  text-align: center;
  padding: 1.5rem 2.5rem;
  margin: 0 0 2rem 0;
  font-size: 26px;
  color: black;
}

p {
  padding: 0 0.5rem 0.5rem;
  margin: 0;
  text-align: right;
  color: black;
}

.card {
  margin: 50px 0px 50px 120px;
  border-radius: 0px;
  border: none;
  overflow: hidden;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
  /* box-shadow - elementa kastītes ēna */
  transition: all .2s linear; /* Piešķirs pārejai slīdošu īpašību */
}

.card:hover {
  box-shadow: 40px 25px 95px rgba(0, 0, 0, 0.15);
  transform: translate3d(0, -9px, 0); /* Elementa animācijas/pārejas veids */
  filter:invert(1);
  font-size: 20px;
}